.container {
    width: 80%;
    margin: 15px auto;
}
header {
    text-align: center;
}
h1{
    font-size: 60px;
}
header p {
    text-align: center;
    width: 80%;
    margin: 15px auto;
    padding: 5px;
    border-top:  3px double #000;
    border-bottom:  3px double #000;
}
main {
    width: 80%;
    margin: 15px auto;
    text-align: center;
}
.navigation {
    width: 80%;
    margin: 15px auto;
    text-align: center;
}
main article {
    display: inline-block;
    width: 20%;
    margin: 5px;
}
main a {
    text-decoration: none;
    color: #000;
}
.fa-solid {
    color: bisque;
}
footer {
    text-align: center;
    color: #808080;
}